<h2 class="title-new">Add New Recipe</h2>

<form class="add-recipe-form" {{action 'createRecipe' on="submit"}}>
  <label class="name-label">
    Recipe Name
    {{input type="text" class="recipe-input-name" value=newName}}
  </label>
  <label class="photo-label">
    Upload Photo
    {{input type="file" accept="image/*"    class="photo-upload" value=newPhoto}}
  </label>
  <label class="servings-label">
    Number of Servings
    {{input type="number" class="number-servings" value=newServings}}
  </label>
  <label class="time-label">
    Cook Time
    {{input type="text" class="cook-time" value=newTime}}
  </label>
  <label class="ingredients-label">
    Ingredients
    {{input type="text" class="recipe-input-ingredients" value=newIngredients}}
  </label>
  <label class="directions-label">
    Directions
    {{textarea class="recipe-textarea-directions" value=newDirections}}
  </label>
  <label class="notes-label">
    Notes
    {{textarea class="recipe-textarea-notes" value=newNotes}}
  </label>
  <input type="submit" class="add-recipe-submit" value="Save"/>
</form>
